Source: ros-melodic-ainstein-radar
Section: misc
Priority: optional
Maintainer: Nick Rotella <nick.rotella@ainstein.ai>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: https://wiki.ros.org/ainstein_radar
Standards-Version: 3.9.2

Package: ros-melodic-ainstein-radar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-ainstein-radar-drivers, ros-melodic-ainstein-radar-filters, ros-melodic-ainstein-radar-gazebo-plugins, ros-melodic-ainstein-radar-msgs, ros-melodic-ainstein-radar-rviz-plugins, ros-melodic-ainstein-radar-tools
Description: ROS support for Ainstein radar sensors.
